<!-- <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>City</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let userdata of UserInformation">
            <td>{{userdata.id}}</td>
            <td>{{userdata.name}}</td>
            <td>{{userdata.username}}</td>
            <td>{{userdata.email}}</td>
            <td>{{userdata.address.city}}</td>
            <td>{{userdata.phone}}</td>
            <td>{{userdata.website}}</td>
            <td>{{userdata.company.name}}</td>
        </tr>
    </tbody>
</table> -->
