<!-- <div class="container-fluid">

    <h1 class="heading">{{titleheading}}</h1>
    <p>{{pcont}}</p>
    <p>Property binding</p>
    <img [src]="imgurl" class="image1"><br>
    <button class="btn btn-primary" (click)="counterval()">Click Me</button>
    <p> {{count}}</p>

</div>
<div class="container-fluid">
    <label>Enter Name:</label>
    <input type="text" value="{{fname}}"><br>
    <button class="btn btn-primary" (click)="fillname()">Fill Name</button>
</div> -->

<!-- <div class="container-fluid">
    <h1>Product Form</h1>
   <form formGroup="formdata">
      <div class = "form-group">
         <label>First Name</label>
         <input type = "text" formControlName="firstname" class = "form-control" >
      </div>
      
      <div class = "form-group">
         <label>Last Name</label>
         <input type = "text" formControlName="lsatname" class = "form-control" >
      </div>
   </form>
   <div class="submit-button">
       <button class="btn btn-primary" >Click Me</button>
   </div>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div> -->

<!-- <app-coffeeheader></app-coffeeheader>
<app-coffeecontent></app-coffeecontent>
<app-coffeefooter></app-coffeefooter> -->

<!-- <div class="container">
    <label for="firstname">Firstname:</label>
    <input name="firstname" [(ngModel)] ="fname">
    <p>Your Name is {{fname}}</p>
    <label for="lastname">Lastname:</label>
    <input name="lastname" [(ngModel)] ="lname">
    <p>Your Surname is {{lname}}</p>

</div>

<div class="container" *ngIf="able">
    <p>Some Element</p>

</div>

<div class="container">
<label for="enternumber">Enter Number:</label>
<input name="getnewnumber" [(ngModel)]="gnumber">
<p>The number is: {{gnumber}}</p>
</div>
<div class="container" *ngIf="evenodd()">
    <p>Entered number is Even</p>
</div>

<div class="container">
    <h6>Numbers:</h6>
    <div *ngFor="let numArray of numArrays">
    {{numArray}}
    </div>
    <h6>Names:</h6>
    <div *ngFor="let strArray of strArrays">
    {{strArray}}
    </div>
</div>

<div class="container">
    <h6>Names with more than 5 letters:</h6>
    <div *ngFor="let str1Array of str1Arrays">
        <div *ngIf="str1Array.length>5">
            {{str1Array}}
        </div>
    </div>
</div>

<div class="container">
    <h6>Names which are at odd position:</h6>
    <div *ngFor="let str2Array of str2Arrays; let i = index" >
        <div *ngIf="i % 2 == 0">
            {{str2Array}}</div>
    </div>
</div>

<div>
    <app-header [itemreceived]="item"></app-header>
</div>

<div>
    <app-coffeeheader></app-coffeeheader>
</div>

<div>
    <app-header [sreceived]="str3Arrays"></app-header>
</div> -->

<!-- <app-header></app-header> -->

<!-- <div class="container">
    <h6>Use of ngClass:</h6>
    <p [ngClass]="item>10?'red' : 'yellow'">{{item}}</p>
    <p [ngClass]="classfeature()">{{item}}</p>
</div>

<div class="container">
    <h6>Even and Odd numbers have specific color:</h6>
    <div *ngFor="let newArray of newArrays">
        <p [ngClass]="newArray%2 ==0 ?'purple' : 'green'">{{newArray}}</p>
    </div>
</div>

<div class="container">
    <h6>Enable and Disable Button:</h6>
    <button class="btn btn-primary" (click)="enable()">Enable</button>
    <button class="btn btn-primary" (click)="disable()">Disable</button>
    <p *ngIf="flag" >Welcome to the Angular!</p>
    
</div>

<div class="container">
    <h6>Use of ngStyle:</h6>
    <button [ngStyle]="{background:'yellow'}">Click Me</button>
    <button [ngStyle]="appendstyle">Click Me</button>
</div>

<div class="container">
    <h6>Store json data in a table:</h6>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone No</th>
            <th>Website</th>
            <th>Disable Data</th>
        </tr>
        <tr *ngFor="let d of data" [ngClass]="d.id%2 ==0?'lightred' : 'lightgreen'">
            <td>{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.username}}</td>
            <td>{{d.email}}</td>
            <td>{{d.phone}}</td>
            <td>{{d.website}}</td>
            <td><button class="btn btn-primary" (click)="disablerow(d)">Delete</button></td>
        </tr>
    </table>
</div> -->

<!-- <app-header></app-header> -->

<!-- <p>{{getdate}}</p>
<p>{{getinfo}}</p> -->
<!-- <div class="container-fluid">
<h2>Data From Service to App Componenet</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>City</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let userdata of UserInformation">
            <td>{{userdata.id}}</td>
            <td>{{userdata.name}}</td>
            <td>{{userdata.username}}</td>
            <td>{{userdata.email}}</td>
            <td>{{userdata.address.city}}</td>
            <td>{{userdata.phone}}</td>
            <td>{{userdata.website}}</td>
            <td>{{userdata.company.name}}</td>
        </tr>
    </tbody>
</table>


    
<button class="btn btn-primary" (click)="changedata()">Change</button>
<h2>One service provides data to multiple Componenets:</h2>
<h3>Data of box Componenet:</h3>
<app-box></app-box>
<h3>Data of Header Componenet</h3>
<app-header></app-header>
<h3>Data of Footer Componenet</h3>
<app-footer></app-footer>
</div> -->


<!-- <div class="container">

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="email" (keyup)="copydata()">

    </div>


</div>

<app-box></app-box> -->

<!-- <div class="container">
    <form class="row g-3" #myForm="ngForm" (ngSubmit)="onSubmitofform(myForm.value)">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4" name="email" [ngModel]="user.email" required>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4" name="password" [ngModel]="user.password" required>
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address" [ngModel]="user.address" required>
        </div>
        
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity" name="city" [ngModel]="user.city" required>
        </div>
        
        <div class="col-12">
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Sign in</button>
        </div>
    </form>
</div>

<app-box></app-box> -->
<!-- <div class="container">
    <label for="number">Enter Number:</label>
    <input type="text" #table (keyup)="calculate(table.value)">
    <p *ngFor="let a of array">{{a}}</p>
</div> -->

<!-- <div class="container">
    <div class="col-md-6">
        <label for="city" class="form-label">Whare you go?</label>
        <input type="text" class="form-control" required>
    </div>
    <div class="col-md-3">
        <label for="city" class="form-label">Start Date</label>
        <input type="date" class="form-control" required #sdate>
    </div>
    <div class="col-md-3">
        <label for="city" class="form-label">End Date</label>
        <input type="date" class="form-control" required #edate>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" (click)="calculateamount(sdate.value, edate.value)" >Amount</button>
    </div>
</div> -->
<!-- <app-reactiveforms></app-reactiveforms><br>
<app-reactive-address-form></app-reactive-address-form> -->

<!-- <ul *ngFor="let r of receiveData">
    <li>{{r.id}}-{{r.name}}-{{r.address}}</li>
</ul> -->
<div class="container mt-3">
    <label for="id">Enter ID: </label>
    <input type="number" [(ngModel)] = "id"><br>
<button class="btn btn-primary mt-3" (click)="addData(id)">Get Data</button>

<form [formGroup]="postdataForm" (ngSubmit)="submitData()">
    <div class="mb-3 mt-50 col-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)] = "name" name="name">
    </div>
    <div class="mb-3 col-3">
      <label for="address" class="form-label">Address</label>
      <input type="text" class="form-control" id="address" [(ngModel)] = "address" name="address">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>