<!-- <div class="container-fluid">

    <h1 class="heading">{{titleheading}}</h1>
    <p>{{pcont}}</p>
    <p>Property binding</p>
    <img [src]="imgurl" class="image1"><br>
    <button class="btn btn-primary" (click)="counterval()">Click Me</button>
    <p> {{count}}</p>

</div>
<div class="container-fluid">
    <label>Enter Name:</label>
    <input type="text" value="{{fname}}"><br>
    <button class="btn btn-primary" (click)="fillname()">Fill Name</button>
</div> -->

<!-- <div class="container-fluid">
    <h1>Product Form</h1>
   <form formGroup="formdata">
      <div class = "form-group">
         <label>First Name</label>
         <input type = "text" formControlName="firstname" class = "form-control" >
      </div>
      
      <div class = "form-group">
         <label>Last Name</label>
         <input type = "text" formControlName="lsatname" class = "form-control" >
      </div>
   </form>
   <div class="submit-button">
       <button class="btn btn-primary" >Click Me</button>
   </div>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div> -->

<app-coffeeheader></app-coffeeheader>
<app-coffeecontent></app-coffeecontent>
<app-coffeefooter></app-coffeefooter>