<div class="row">
  <div class="col-sm-3" *ngFor="let d of data">
    <div class="card">
      <img [src]="img4url" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{d.productname}}</h5>
        <p>Rs.{{d.price}}/-</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary m-3" (click)="additem(d)">Add to Cart</a>

        <a href="#" class="btn btn-primary" (click)="removeitem()">-</a>
        <span> [{{count}}] </span>

        <a href="#" class="btn btn-primary" (click)="additem(d)">+</a>

        <br><br>
        <a href="#" class="btn btn-primary" (click)="show_description()">Explore More</a>
      </div>
    </div>
  </div>


  <div class="container">
    <app-productdetails *ngIf="description"></app-productdetails>
  </div>