<div class="card" style="width: 18rem;">
    <img [src]="img1url" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" (click)="additem()">Add to Cart</a><br><br>
      <a href="#" class="btn btn-primary" (click)="show_description()">Explore More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img [src]="img2url" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" (click)="additem()">Add to Cart</a><br><br>
      <a href="#" class="btn btn-primary" (click)="show_description()">Explore More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img [src]="img3url" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" (click)="additem()">Add to Cart</a><br><br>
      <a href="#" class="btn btn-primary" (click)="show_description()">Explore More</a>
    </div>
  </div>

  <div class="container">
    <app-productdetails *ngIf="description"></app-productdetails>
  </div>